{% extends 'basic.html'%} 
{% load static %} 
{% block content %}
<h1 class="text-center">Add Project</h1>
<form method="POST">
    {% csrf_token %}
  
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        placeholder="project name"
        name="title"
      />
    </div>

    <div class="mb-3">
      <label for="title" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="your email"
        name="email"
      />
    </div>

    <div class="mb-3">
        <label for="details" class="form-label">Details</label>
        <textarea
          type="text"
          class="form-control"
          id="details"
          placeholder="details"
          name="details"
        >
    </textarea>
      </div>

    <div class="mb-3">
        <label for="category" class="form-label">Category</label>
        <select type="text"
        class="form-control"
        id="category"
        name="category">
          <option value="education">education</option>
          <option value="entertainment">entertainment</option>
          <option value="sports">sports</option>
          <option value="fashon">fashon</option>
        </select>
      </div>
   

      <div class="mb-3">
        <label for="mutliImage" class="form-label">Image</label>
        <input
          type="file"
          class="form-control"
          id="mutliImage"
          name="mutliImage"
        />
      </div>

      <div class="mb-3">
        <label for="totalTarget" class="form-label">Target</label>
        <input
          type="text"
          class="form-control"
          id="totalTarget"
          placeholder="your target"
          name="totalTarget"
        />
      </div>

      <div class="mb-3">
        <label for="tag" class="form-label">tag</label>
        <select type="text"
        class="form-control"
        id="tag"
        name="tag">
          <option value="education">education</option>
          <option value="entertainment">entertainment</option>
          <option value="sports">sports</option>
          <option value="fashon">fashon</option>
        </select>
      </div>

      <div class="mb-3">
        <label for="startDate" class="form-label">Start Date</label>
        <input
          type="date"
          class="form-control"
          id="startDate"
          placeholder="enter start date"
          name="startDate"
        />
      </div>
  
    <button type="submit" class="btn btn-dark">Add Project</button>
  </form>

{% endblock content %}