{% extends 'basic.html'%} 
{% load static %} 
{% block content %}
<h1 class="text-center">fashon Projects</h1>

{% for project in projects %}
<div class="card">
    <div class="img">
        <img src='' alt="." >
    </div>
    {% comment %} {{project.mutliImage.url}} {% endcomment %}
   <div>
   <div>
    <h1>{{project.title}}</h1>
    <p class="title">{{project.details}}</p>
    <span class="title">{{project.category}}</span>
    <span class="title">{{project.tag}}</span>
    <h4>{{project.totalTarget}}</h4>
    <p class="title">{{project.startDate}}</p>
   </div>
  </div>

{% endfor %}


{% endblock content %}