{% extends 'basic.html'%} 
{% load static %} 
{% block content %}

<h1 class="text-center">Your Project</h1>
<div class="card">
    <div class="img">
        <img src={{project.mutliImage.url}} alt="." >
    </div>
   <div>
    <h1>{{project.title}}</h1>
    <p class="title">{{project.details}}</p>
    <span class="title">{{project.category}}</span>
    <span class="title">{{project.tag}}</span>
    <h4>{{project.totalTarget}}</h4>
    <p class="title">{{project.startDate}}</p>
   </div>
  </div>
  {% endblock content %}